<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<div class="navbar-spacer"></div>
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item"><a class="navbar-link" href="#about">About</a></li>
          <li class="navbar-item">
            <a class="navbar-link" href="#" data-popover="#Blog">Blog</a>
            <div id="codeNavPopover" class="popover">
              </ul>
            </div>
          </li>
    </nav>
		<div class="container">
    
    		{{content}}
        
		</div><!-- /.container -->
	</body>
</html>
